*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db

# Ignore uploaded images
/public/images/properties/*
!/public/images/properties/.gitkeep
/public/images/blog/*
!/public/images/blog/.gitkeep
/public/images/team/*
!/public/images/team/.gitkeep
/public/images/awards/*
!/public/images/awards/.gitkeep
/public/images/testimonials/*
!/public/images/testimonials/.gitkeep
